doctype  html
head
  meta(charset='utf-8')
  title Hello Pug
body
  div#app

  include ../layouts/pug/header.pug
  div
    p Hello Pug
    h1 Thank you1!
  div.lzx  
  include ../layouts/pug/footer.pug

